
.cursor{
    animation: move 1s infinite alternate;
    transition: width .3s, heigth .3s;
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 25%;
}
body{
    cursor: none;
    background-color: pink;
    font-family:sans-serif ;
}
.logo{
    text-align: center;
    background-color: pink;
}
.logogo{
    width: 500px;
}
header p{
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 214, 221);
    padding: 20px;
}
div{
    margin: 50px;
    border:5px solid beige;
    border-radius: 60px;
    padding: 50px;
}
img{
    width: 300px;
}
h2{
    display: block;
}
.img{
    margin: 0px;
    padding: 0px;
    border: none;
    flex-direction: row;
}
.htwo{
    margin: 0px;
    padding: 0px;
    border: none;
    margin-left: 200px;
    font-size: 50px;
}
.one{
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
}
.one:hover{
    background-color: #FFF8AC;
}
.pepper{
    margin-left:150px;
    font-size: 40px;
}
.pepperr{
    position: relative;
    top:-40px;
    margin-left:150px;
    font-size: 40px;
}
.aoa{
    border-radius: 50px;
    margin-left: 300px;
    background-color: #D2FF57;
    border: 10px solid #95FF00;
    font-size: 30px;
    padding: 10px;
}
.two{
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
}
.two:hover{
    background-color: #FFFFFF;
}
.ppepper{
    font-size: 40px;
}
.ppepperr{
    position: relative;
    top:-40px;
    font-size: 40px;
}
.oao{
    border-radius: 50px;
    background-color: #FFFFFF;
    border: 10px solid #000000;
    font-size: 30px;
    padding: 10px;
    margin-left: 120px;
}
.htwoo{
    margin: 0px;
    padding: 0px;
    border: none;
    margin-left: 200px;
    font-size: 50px;
}
.iimg{
    margin: 0px;
    padding: 0px;
    border: none;
    flex-direction: row;
    margin-left: 500px;
}
.img{
    margin: 0px;
    padding: 0px;
    border: none;
    flex-direction: row;
}
.hhtwo{
    margin: 0px;
    padding: 0px;
    border: none;
    margin-left: 400px;
    font-size: 50px;
}
.onee{
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
}
.onee:hover{
    background-color: #AA0000;
}
.pepperrr{
    font-size: 40px;
}
.ppepperrrr{
    position: relative;
    top:-40px;
    font-size: 40px;
}
.aoao{
    border-radius: 50px;
    margin-left: 50px;
    background-color: #FF0000;
    border: 10px solid #710000;
    font-size: 30px;
    padding: 10px;
}
.aoaoa{
    border-radius: 50px;
    margin-left: 50px;
    background-color: #FBA7FF;
    border: 10px solid #F651FF;
    font-size: 30px;
    padding: 10px;
}
.twoo{
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
}
.twoo:hover{
    background-color: #ED79FF;
}
.htwooo{
    margin: 0px;
    padding: 0px;
    border: none;
    margin-left: 200px;
    font-size: 30px;
}
footer p{
    font-size: 50px;
    text-align: center;
}
footer{
    background-color: #EE00FF;
    padding: 100px;
    transition: 0.2s ease-in;
}
footer:hover{
    background-color:pink ;
}
a{
    color: #000000;
    text-decoration: none;
}
.aoaoa{
    border-radius: 50px;
    margin-left: 50px;
    background-color: #FBA7FF;
    border: 10px solid #F651FF;
    font-size: 30px;
    padding: 10px;
}
.hhtwoo{
    margin: 0px;
    padding: 0px;
    border: none;
    margin-left: 400px;
    font-size: 50px;
}
.oneee{
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
}
.oneee:hover{
    background-color: #37aefd;
}
.aoaoao{
    border-radius: 50px;
    margin-left: 50px;
    background-color: #1cebe0;
    border: 10px solid #001aff;
    font-size: 30px;
    padding: 10px;
}
.aoaoaoa{
    border-radius: 50px;
    margin-left: 50px;
    background-color: #000000;
    border: 10px solid #ffffff;
    font-size: 30px;
    padding: 10px;
    color: white;
}
.hhtwooo{
    margin: 0px;
    padding: 0px;
    border: none;
    margin-left: 200px;
    font-size: 30px;
}
.twooo{
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
    color: #000000;
}
.twooo:hover{
    background-color: #000000;
    color: #FFFFFF;
}

